body {
    background-color: yellowgreen;
    padding: 0;
    margin: 0;
}

form {
    border: 10px solid black;
    width: 50%;
    height: 300px;
}

button {
    margin-left: 50%;
    margin-top: 25%;
}

.change {
    background-color: blue;
}